<div class="py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-green-mint-soft text-white font-montserrat">
          <h3 class="mb-0">Entre em Contato</h3>
        </div>
        <div class="card-body">
          <form id="contactForm" class="contact-form font-montserrat">
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Digite seu nome"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Digite seu email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label">Assunto</label>
              <input
                type="text"
                class="form-control"
                id="subject"
                name="subject"
                placeholder="Digite o assunto"
                required
              />
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Mensagem</label>
              <textarea
                class="form-control"
                id="message"
                name="message"
                rows="5"
                placeholder="Digite sua mensagem"
                required
              ></textarea>
            </div>
            <button
              type="button"
              class="btn btn-dark bg-brown-land"
              id="sendMessageButton"
            >
              Enviar Mensagem
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
