<div class="cart-item" data-index="{{index}}">
  <div class="item-info">
    <div class="item-photo" style="background-image: url('{{image}}');"></div>
    <div>
      <strong style="display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100%; font-size: 1rem;">{{name}}</strong>
    </div>
  </div>
  <div class="item-price">R$ {{price}}</div>
  <div class="item-quantity">{{quantity}}</div>
  <div class="remove-btn" title="Remover do carrinho">
    <i class="bi bi-trash3"></i>
  </div>
</div>
