<div class="modal-detalhes">
  <div class="detalhes-grupo">
    <h4>Informações do Pedido</h4>
    <div class="detalhes-item">
      <label>Número do Pedido:</label>
      <span class="valor numero-pedido" id="detalhes-numero-pedido"></span>
    </div>
    <div class="detalhes-item">
      <label>Data:</label>
      <span class="valor data-pedido" id="detalhes-data"></span>
    </div>
    <div class="detalhes-item">
      <label>Valor Total:</label>
      <span class="valor valor-total" id="detalhes-valor-total"></span>
    </div>
    <div class="detalhes-item">
      <label>Status:</label>
      <span class="valor status-pedido" id="detalhes-status"></span>
    </div>
  </div>
  <div class="detalhes-grupo">
    <h4>Informações do Fornecedor</h4>
    <div class="detalhes-item">
      <label>Nome:</label>
      <span class="valor nome-fornecedor" id="detalhes-nome-fornecedor"></span>
    </div>
    <div class="detalhes-item">
      <label>Email:</label>
      <span
        class="valor email-fornecedor"
        id="detalhes-email-fornecedor"
      ></span>
    </div>
    <div class="detalhes-item">
      <label>Telefone:</label>
      <span
        class="valor telefone-fornecedor"
        id="detalhes-telefone-fornecedor"
      ></span>
    </div>
    <div class="detalhes-item">
      <label>Endereço:</label>
      <span
        class="valor endereco-fornecedor"
        id="detalhes-endereco-fornecedor"
      ></span>
    </div>
  </div>
  <div class="detalhes-grupo">
    <h4>Itens do Pedido</h4>
    <div class="itens-container" id="detalhes-itens">
      <ul class="itens-list"></ul>
    </div>
  </div>
</div>
