<footer class="bg-green-leaf text-white py-3 font-open-sans w-100 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start">
        <p class="mb-1">
          &copy; <span id="current-year"></span> Save&Serve Fornecedor. Todos os
          direitos reservados.
        </p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <a href="#termUse" class="text-white text-decoration-none me-3"
          >Termos de Uso</a
        >
        <a href="#privacyPolicy" class="text-white text-decoration-none"
          >Política de Privacidade</a
        >
      </div>
    </div>
  </div>
</footer>
