.black-icon {
  filter: brightness(0);
}

.img-depoimento {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.parceiro-logo {
  max-width: 150px;
  height: auto;
  transition: transform 0.3s ease;
  filter: grayscale(100%);
  opacity: 0.7;
}

.parceiro-logo:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
  opacity: 1;
  cursor: pointer;
}
